Audio_Transcriber.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1080,
        2160
      ],
      "id": "b9343bf4-c699-451d-b90d-f6599898d63f",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1168,
        2380
      ],
      "id": "97e1eb6d-e9f3-4628-9b50-a4059baa4088",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7uQ2BdRfXJIdizM2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "18FkcwsVAtVKrTWGI9FU51fxUe4sj1oSG",
          "mode": "list",
          "cachedResultName": "audio_files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/18FkcwsVAtVKrTWGI9FU51fxUe4sj1oSG"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -900,
        2010
      ],
      "id": "ec9b14d7-2fb9-4cc6-9581-94fc7cde2746",
      "name": "Watch Audio Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "THQTWreqjdTfPUyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/tmp/input_audio.mp3",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -460,
        2010
      ],
      "id": "702b9104-353e-4a09-8b52-adb5bf81635d",
      "name": "Write Audio File to Disk"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -680,
        2010
      ],
      "id": "eed5bb0b-5d2a-472a-b8b3-18241f26ae43",
      "name": "Download Audio",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "THQTWreqjdTfPUyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "transcript",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1158,
        1860
      ],
      "id": "afdeab19-7169-4084-8dfd-553ef44ae60e",
      "name": "Convert to Text File"
    },
    {
      "parameters": {
        "name": "={{ $('Download Audio').item.json.name.replace(/\\.mp3$/, '') }} Trancript.txt",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1z9RVgGg4Xxs88LagsklJQkHmuKXMXOvL",
          "mode": "list",
          "cachedResultName": "trancriptions",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1z9RVgGg4Xxs88LagsklJQkHmuKXMXOvL"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1456,
        1860
      ],
      "id": "c3eca223-50d6-4279-a6a7-add0134d6a49",
      "name": "Upload to Transcript Folder",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "THQTWreqjdTfPUyQ",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return items[0].json.stdout.trim().split(\"\\n\").map(fn => ({ json: { path: `/tmp/audio_chunks/${fn}` } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        200,
        2010
      ],
      "id": "34dc57ce-23e6-4b29-8a01-f9e7683c3310",
      "name": "Prepare Chunk Items"
    },
    {
      "parameters": {
        "jsCode": "const text = items.map(i => i.json.text).join(\" \");\nreturn [{ json: { transcript: text } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        860,
        2010
      ],
      "id": "0e6d0bf0-648e-43c5-ad68-ebe8891f0c55",
      "name": "Combine Transcripts"
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        640,
        2010
      ],
      "id": "7ab655ad-ebbd-4a2f-80ee-9baf7dd30291",
      "name": "Transcribe Audio",
      "credentials": {
        "openAiApi": {
          "id": "7uQ2BdRfXJIdizM2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "command": "=mkdir -p /tmp/audio_chunks && ffmpeg -i /tmp/input_audio.mp3 -f segment -segment_time 900 -c copy /tmp/audio_chunks/output_%03d.mp3"
      },
      "name": "Split Audio (ffmpeg)",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -240,
        2010
      ],
      "id": "4f100ac8-e1f6-4bfb-911c-2e2ee6567a3d"
    },
    {
      "parameters": {
        "command": "ls -1 /tmp/audio_chunks"
      },
      "name": "List Chunks",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -20,
        2010
      ],
      "id": "05cf74b0-26b7-49d7-98db-2def04a83bf1"
    },
    {
      "parameters": {
        "content": "## Watch for audio file creation and write it to disk",
        "height": 340,
        "width": 640,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -960,
        1860
      ],
      "typeVersion": 1,
      "id": "d2c0f659-7c16-4cdf-9b68-f4fedac3eb06",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "filePath": "={{$json[\"path\"]}}"
      },
      "name": "Read Chunk Binary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        420,
        2010
      ],
      "id": "cdec952f-f7ab-4b14-8cec-73d5a2e15407"
    },
    {
      "parameters": {
        "command": "=rm /tmp/input_audio.mp3 && rm -rf /tmp/audio_chunks"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1676,
        1860
      ],
      "id": "682b8da9-1c72-492c-9f6f-e35f8621aaec",
      "name": "Cleanup Disk Files"
    },
    {
      "parameters": {
        "title": "={{ $('Download Audio').item.json.name.replace(/\\.mp3$/, '') }}",
        "additionalFields": {
          "content": "=Summary:\n{{ $json.output.text }}\n\nSpeech:\n{{ $('Combine Transcripts').item.json.transcript }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        1456,
        2160
      ],
      "id": "9ea694e8-a68c-4483-9ff2-ee3d0b687246",
      "name": "Create Wordpress Post",
      "credentials": {
        "wordpressApi": {
          "id": "FQEpZMe9REHzgnT8",
          "name": "Wordpress account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "## Split audio into 900 second chunks and prepare for transcription",
        "height": 340,
        "width": 660,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -300,
        1860
      ],
      "typeVersion": 1,
      "id": "bfc13dfd-031a-4527-8ecc-da2db33207c0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Read and transcribe all audio files and combine them",
        "height": 340,
        "width": 640,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        1860
      ],
      "typeVersion": 1,
      "id": "1052e6c6-0634-4c7b-9cc7-9a399689f23c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Convert transcript to a text file and upload it to Google Drive",
        "height": 320,
        "width": 540
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1060,
        1720
      ],
      "typeVersion": 1,
      "id": "95417801-e288-4c4f-b310-be9a21eff47a",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Create a summary of the transcript and create a WordPress post containing both the summary and transcript",
        "height": 460,
        "width": 700,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1040,
        2060
      ],
      "typeVersion": 1,
      "id": "2fda5072-34e8-4348-b3a1-d50987c5e7ae",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Delete Disk Files",
        "height": 320,
        "width": 260,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1620,
        1720
      ],
      "typeVersion": 1,
      "id": "4ad8dfde-7d56-4d9e-b351-f3fbda2bbfbe",
      "name": "Sticky Note5"
    }
  ],
  "connections": {
    "Summarization Chain": {
      "main": [
        [
          {
            "node": "Create Wordpress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Watch Audio Folder": {
      "main": [
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Audio File to Disk": {
      "main": [
        [
          {
            "node": "Split Audio (ffmpeg)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Write Audio File to Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Text File": {
      "main": [
        [
          {
            "node": "Upload to Transcript Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Transcript Folder": {
      "main": [
        [
          {
            "node": "Cleanup Disk Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Chunk Items": {
      "main": [
        [
          {
            "node": "Read Chunk Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Transcripts": {
      "main": [
        [
          {
            "node": "Convert to Text File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio": {
      "main": [
        [
          {
            "node": "Combine Transcripts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Audio (ffmpeg)": {
      "main": [
        [
          {
            "node": "List Chunks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Chunks": {
      "main": [
        [
          {
            "node": "Prepare Chunk Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Chunk Binary": {
      "main": [
        [
          {
            "node": "Transcribe Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "404da7777b9ae3a6ef4a84e36ff3f6ed18ddf4e223c2dd8f9560a48938216fe2"
  }
}