WordPress_Workflow_1.json
{
  "name": "WordPress Workflow 1",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        -20
      ],
      "id": "c22f7fec-6224-4fea-afe6-53ec770e3c22",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4a52c5b9-1fa1-4065-9489-b025610c3d3f",
              "name": "Transcription",
              "value": "Even in the silence, God is working. What feels like a delay is often a divine preparation—trust the timing, because His plan is greater than our understanding.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        220,
        -20
      ],
      "id": "701dee0f-0eb7-42dd-8d82-95e7b507b023",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        440,
        -20
      ],
      "id": "1d105892-44af-42dd-9021-6699f609dc4a",
      "name": "Wordpress1",
      "credentials": {
        "wordpressApi": {
          "id": "X5PLMEKWVP9HyNeN",
          "name": "Wordpress account 13"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "postId": "={{ $json.id }}",
        "updateFields": {
          "content": "={{ $('Edit Fields').item.json.Transcription }}"
        }
      },
      "type": "n8n-nodes-base.wordpress",
      "typeVersion": 1,
      "position": [
        660,
        -20
      ],
      "id": "38a90b80-a93d-4d18-82b4-8b93473426a5",
      "name": "Wordpress",
      "credentials": {
        "wordpressApi": {
          "id": "X5PLMEKWVP9HyNeN",
          "name": "Wordpress account 13"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Wordpress1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wordpress1": {
      "main": [
        [
          {
            "node": "Wordpress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e87b67ab-6f10-47e4-84cf-1ce49d2851e7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f318f1eeb582bef69a56797ad1f28184a54cfe51b0e461ee190c5740946ea07e"
  },
  "id": "NUZATFjm63Z9a3z1",
  "tags": []
}